*{
  font-family: "lato", sans-serif;
}

.app {
  background: #0F4C81;
  padding: 30px;
  height: 100vh;
  position: relative;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  margin: auto;
  width: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

